= simple_form_for @stitch do |f|
  - if @stitch.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stitch.errors.count, "error")} prohibited this stitch from being saved:"
      %ul
        - @stitch.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :color
    = f.text_field :color
  .field
    = f.label :type
    = f.text_field :type
  .field
    = f.label :position
    = f.number_field :position
  .actions
    = f.submit 'Save'
