.main
  %p#notice= notice

  .profile
    .profile_img
      - if @user.user_image.file && @user.user_image.file.exists?
        = image_tag(@user.user_image.profile.url)
      - else
        = image_tag("default-avatar.png")
      = link_to 'Change image', edit_user_path(@user), class: 'hidden', id: 'edit_img'
    .profile_details
      %h2= @user.name
      %p= @user.description

  #tabs.profile
    %ul
      %li
        %a{:href => "#tabs-1"} Patterns
      %li
        %a{:href => "#tabs-2"} Likes
    #tabs-1
      #container
        - if current_user == @user
          = render 'private_profile'
        - else
          = render 'public_profile'
    #tabs-2
      #container
        - @user_likes.each do |pattern|
          = render 'likes'
