%p#notice= notice

%p
  %b Name:
  = @user.name
%p
  %b User image:
  = image_tag(@user.user_image.thumb.url)
%p
  %b Membership:
  = @user.membership

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
