%p#notice= notice

.profile
  .profile_img
    = image_tag(@user.user_image.profile.url)
    = button_to 'Edit', edit_user_path(@user), class: 'hidden', id: 'edit_img'
  .profile_details
    %h2= @user.name
    %p= @user.description

= current_user.find_liked_items.count
= link_to 'Likes', user_likes_path(@user)

- if current_user == @user
  = render 'private_profile'
- else
  = render 'public_profile'
