%p#notice= notice

%p
  = @user.name
%p
  = image_tag(@user.user_image.profile.url)
%p
  %b Membership:
  = @user.membership

= link_to 'Edit', edit_user_path(@user)
\|
= current_user.find_liked_items.count
= link_to 'Likes', user_likes_path(@user)

%h2 Projects in progress
- @user.patterns.each do |pattern|
  - if pattern.user_id == current_user.id
    #pattern_card
      %p= link_to pattern.name, pattern
      %p= pattern.difficulty.try(:name)
      %p= pattern.description
      %p= pattern.instructions
      %p= pattern.yarn
      %p= pattern.equipment
      %p= pattern.category.try(:name)
