= simple_form_for Pattern.new do |p|
  .field
    = p.input :yarn_gauge
  .field
    = p.input :width_inch, label: 'Width (in inches)'
  .field
    = p.input :no_of_rows, as: :string, label: 'No. of rows'
  .action
    = p.button :submit, "data-disable-with" => "Processing..."