#pattern
  - if @pattern.rows.count <= 20
    #pattern_show
      - @pattern.rows.each do |row|
        .pattern_row{ id: row.id }
          - row.stitches.each do |stitch|
            .stitch{ :style => "color: #{stitch.color}", :data => { id: stitch.id} } 
              - if stitch.stitch_symbol.strip.empty?
                &nbsp;
              - else
                =raw stitch.stitch_symbol.strip
  - else
    #pattern_show
      - @pattern.rows[0..19].each do |row|
        .pattern_row{ id: row.id }
          - row.stitches.each do |stitch|
            .stitch{ :style => "color: #{stitch.color}", :data => { id: stitch.id} } 
              - if stitch.stitch_symbol.strip.empty?
                &nbsp;
              - else
                = stitch.stitch_symbol.strip
    #pattern_toggle{ :style => 'display: none'}
      - @pattern.rows[20..-1].each do |row|
        .pattern_row{ id: row.id }
          - row.stitches.each do |stitch|
            .stitch{ :style => "color: #{stitch.color}", :data => { id: stitch.id} } 
              - if stitch.stitch_symbol.strip.empty?
                &nbsp;
              - else
                = stitch.stitch_symbol.strip
    %a{:href => "#", id: 'show_pattern'} Show