= simple_form_for Pattern.new do |p|
  %p Create Pattern
  %hr
  #pattern_name
    .field
      = p.input :name
  #status
    .field
      = p.input :status, collection: ['public', 'private'], as: :radio_buttons, :input_html => { :value => 'public' }
  #grids
    #default_grid
      %p Default grid (20 x 10)
      = render 'shared/default_pattern_form'
    #manual_grid
      %p Manual:
      = render 'shared/manual_pattern_form'
    #auto_grid
      %p From yarn gauge:
      = render 'shared/computed_pattern_form'