= nested_form_for @pattern do |f|
  - if @pattern.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pattern.errors.count, "error")} prohibited this pattern from being saved:"
      %ul
        - @pattern.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.hidden_field :user_id, :value => current_user.id
  .field
    = f.label :status
    = f.radio_button :status, 'public', :checked => true
    = f.label :status_public, 'Public'
    = f.radio_button :status, 'private'
    = f.label :status_private, 'Private'
  .field
    = f.label :no_of_rows
    = f.number_field :no_of_rows
  .field
    = f.label :difficulty_id
    = f.select :difficulty_id, Difficulty.all.collect {|difficulty| [ difficulty.name, difficulty.id ] }
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :instructions
    = f.text_area :instructions
  .field
    = f.label :notes
    = f.text_area :notes
  .field
    = f.label :yarn
    = f.text_field :yarn
  .field
    = f.label :equipment
    = f.text_field :equipment
  .field
    = f.label :category_id
    = f.select :category_id, Category.all.collect {|category| [ category.name, category.id ] }
  .actions
    = f.submit 'Save'
