.main 
  #pattern_edit{data: {id: @pattern.id}}
    - @pattern.rows.each do |row|
      .pattern_row{ id: row.id }
        - row.stitches.each do |stitch|
          .stitch{ :style => "color: #{stitch.color}", :data => { id: stitch.id} }
            - if stitch.stitch_symbol.strip.empty?
              &nbsp;
            - else
              =raw stitch.stitch_symbol.strip
    = link_to "add a column", @pattern, remote: true, id: 'add_column'
    \|
    = link_to "add a row", @pattern, remote: true, id: 'add_row'

  #tabs.edit
    %ul
      %li
        %a{:href => "#tabs-1"} Pattern
      %li
        %a{:href => "#tabs-2"} Details
    #tabs-1
      = render 'shared/colorpicker'
      %a{:href => '#', id: 'knit', class: 'type_swatch'} o
      %a{:href => '#', id: 'purl', class: 'type_swatch'} x
      

      = button_to 'Save pattern', @pattern, remote: true, method: :update, class: 'btn'
    #tabs-2
      = render 'form'
