- @patterns.each do |pattern|
  - if pattern.status == "public"
    #pattern_card
      %p= link_to pattern.name, pattern
      %P= image_tag(pattern.user.user_image.thumb.url)
      %p= pattern.user.try(:name)
      %p= pattern.difficulty.try(:name)
      %p= pattern.description
      %p= pattern.instructions
      %p= pattern.yarn
      %p= pattern.equipment
      %p= pattern.category.try(:name)
      %p= pattern.likes.size
