%p#notice= notice

%h3= @pattern.name
%p= @pattern.user.try(:name)

#pattern
  - @pattern.rows.each do |row|
    .pattern_row{ id: row.id }
      - row.stitches.each do |stitch|
        .stitch{ :style => "background-color: #{stitch.color}", :data => { id: stitch.id} }

#info
  %h4= @pattern.description
  %h5 Difficulty:
  = @pattern.difficulty.try(:name)
  %h5 Category:
  = @pattern.category.try(:name)
  %hr
  %h5 Instructions:
  %p= @pattern.instructions
  - if @pattern.user_id == current_user.id
    %h5 Notes:
    = @pattern.notes
  %h5 Yarn:
  = @pattern.yarn
  %h5 Equipment:
  = @pattern.equipment

#buttons
  = link_to like_show_pattern_path(@pattern), method: :put do
    %i.fa.fa-heart.fa-3x
  = link_to "Unlike", unlike_show_pattern_path(@pattern), method: :put
  \|
  = link_to 'Destroy', @pattern, :method => :delete, :data => { :confirm => 'Are you sure?' }
  \|
  = link_to 'Edit', edit_pattern_path(@pattern)
  \|
  = link_to 'Back', patterns_path

  
