.main
  %h2 Log In

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

    %p= f.label :email
    = f.email_field :email, :autofocus => true

    %p= f.label :password 
    = f.password_field :password 
    %br

    - if devise_mapping.rememberable?
      = f.label :remember_me
      = f.check_box :remember_me


    %p= f.submit "Sign in"

  = render "devise/shared/forgot_password"

  = 'New here?' 
  = link_to 'Create an account', new_user_registration_path
