.main
  %h2 Log In

  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .field
      = f.label :email
      %br
      = f.email_field :email, :autofocus => true
    .field
      = f.label :password
      %br 
      = f.password_field :password
    .field
      - if devise_mapping.rememberable?
        = f.label :remember_me
        = f.check_box :remember_me
        %br
    = f.submit "Sign in", class: 'btn'

  %p= render "devise/shared/forgot_password"

  = 'New here?' 
  = link_to 'Create an account', new_user_registration_path
